.disp1 {
    display: inline; /* padrão */
    width: 100px; /*Não posso aumentar a largura*/
    height: 100px; /*Não posso aumentar a altura*/
    padding: 5px;
    background-color: rgb(255, 145, 0);
    font-size: x-large;
}

.disp2 {
    display: inline-block;
    width: 150px; /*Não posso aumentar a largura*/
    height: 50px; /*Não posso aumentar a altura*/
    padding: 5px;
    background-color: rgb(11, 146, 52, 0.301);
    font-size: x-large;
}

.disp3 {
    display: block; /* 1 em cada linha */
    width: 100px; 
    height: 100px; 
    padding: 5px;
    background-color: rgb(162, 0, 255);
    font-size: x-large;
}